/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

$coolBlue: rgb(42, 186, 227);
$radius: 6px;
$hhfeGrey: rgb(224, 224, 224);

html {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, '微软雅黑', Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

@media (min-height: 670px) {
  body {
    height: 100%;
  }

  html {
    height: 100%;
  }
}

body {
  background: linear-gradient(top, #99DDC3, $coolBlue);
  background: -moz-linear-gradient(top, #99DDC3, $coolBlue);
}

.floater {
  float: left;
  height: 50%;
  margin-bottom: -325px;
}

.hhfe-box {
  clear: both;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 1000px;
  height: 650px;
  box-sizing: border-box;
  border-radius: $radius;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
  margin: 10px auto;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-sizing: border-box;
}

.hhfe-box-sidebar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 0 0 70px;
  box-sizing: border-box;
  background: $coolBlue;
  border-radius: $radius 0 0 $radius;
  .avatar {
    margin: 20px auto;
    border: 1px solid darken($hhfeGrey, 15%);
  }
  .group {
    position: relative;
    display: block;
    margin: 35px auto 0 auto;
    color: #ffffff;
    font-size: 25px;
    span {
      position: absolute;
      display: inline-block;
      top: -10px;
      right: -10px;
      font-size: 12px;
      background-color: red;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
    }
  }
}

.hhfe-box-sidebar-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  width: 65px;
  justify-content: space-around;
  align-items: center;
  height: 28px;
  div {
    height: 11px;
    width: 11px;
    border-radius: 50%;
  }
  div:nth-child(1) {
    background-color: rgb(252, 98, 93);
    border: 1px solid rgb(222, 70, 67);
  }
  div:nth-child(2) {
    background-color: rgb(253, 193, 65);
    border: 1px solid rgb(221, 158, 51);
  }
  div:nth-child(3) {
    background-color: rgb(51, 199, 72);
    border: 1px solid rgb(24, 167, 53);
  }
}

.hhfe-box-select {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  border-top: 1px solid $hhfeGrey;
  border-right: 1px solid $hhfeGrey;
  border-bottom: 1px solid $hhfeGrey;
  background-color: lighten($hhfeGrey, 10%);
  ul {
    li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      padding-left: 20px;
      box-sizing: border-box;
      height: 70px;
      border-bottom: 1px solid $hhfeGrey;
      &:hover {
        background-color: lighten($hhfeGrey, 5%);
        cursor: pointer;
      }
      &.checked {
        background-color: lighten($hhfeGrey, 5%);
      }
      .avatar {
        border: 1px solid darken($hhfeGrey, 5%);
      }
      span {
        margin-left: 20px;
      }
    }
  }
}

.hhfe-box-select-finder {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 70px;
  border-bottom: 1px solid $hhfeGrey;
  input {
    padding: 5px;
    box-sizing: border-box;
    border: none;
    width: 200px;
    height: 35px;
    margin: 0 auto;
    outline: none;
    border-radius: $radius;
    background-color: $hhfeGrey;
  }
}

.hhfe-box-main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-top: 1px solid $hhfeGrey;
  border-right: 1px solid $hhfeGrey;
  border-bottom: 1px solid $hhfeGrey;
  border-radius: 0 $radius $radius 0;
  background-color: lighten($hhfeGrey, 15%);
}

.hhfe-box-main-header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 70px;
  border-bottom: 1px solid $hhfeGrey;
  h2, h3 {
    margin-left: 20px;
  }
  h2 {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 12px;
    color: darken($hhfeGrey, 20%);
  }
  .social {
    position: absolute;
    top: 20px;
    right: 20px;
    a {
      font-size: 30px;
      color: $coolBlue;
      margin-left: 15px;
    }
  }
}

.hhfe-box-main-context {
  flex: 0 0 400px;
  border-bottom: 1px solid $hhfeGrey;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  .context {
    width: 60%;
    margin-bottom: 10px;
    overflow: hidden;
    .avatar {
      float: left;
      height: 40px;
      width: 40px;
      border: 1px solid $hhfeGrey;
    }
    .name {
      float: left;
      margin: 5px 0 5px 15px;
      font-size: 12px;
      width: 50px;
      color: darken($hhfeGrey,20%);
    }
    .content {
      float: left;
      max-width: 315px;
      margin-top: 25px;
      margin-left: -55px;
      font-size: 14px;
      padding: 10px;
      line-height: 1.4;
      border-radius: $radius;
      background-color: rgb(212, 237, 244);
    }
  }
}

.hhfe-box-main-sender {
  flex: 1;
  header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 18px;
    padding-left: 15px;
    color: darken($hhfeGrey,25%);
    i {
      margin-right: 20px;
    }
  }
  textarea {
    width: 100%;
    height: 145px;
    padding: 5px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    border: none;
  }
}



