@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
html {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, '微软雅黑', Arial, sans-serif;
  font-size: 16px;
}

/* line 16, ../sass/screen.scss */
a {
  text-decoration: none;
}

@media (min-height: 670px) {
  /* line 21, ../sass/screen.scss */
  body {
    height: 100%;
  }

  /* line 25, ../sass/screen.scss */
  html {
    height: 100%;
  }
}
/* line 30, ../sass/screen.scss */
body {
  background: -webkit-linear-gradient(top, #99DDC3, #2abae3);
  background: linear-gradient(top, #99DDC3, #2abae3);
  background: -moz-linear-gradient(top, #99DDC3, #2abae3);
}

/* line 35, ../sass/screen.scss */
.floater {
  float: left;
  height: 50%;
  margin-bottom: -325px;
}

/* line 41, ../sass/screen.scss */
.hhfe-box {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 1000px;
  height: 650px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  margin: 10px auto;
}

/* line 56, ../sass/screen.scss */
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-sizing: border-box;
}

/* line 63, ../sass/screen.scss */
.hhfe-box-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  box-sizing: border-box;
  background: #2abae3;
  border-radius: 6px 0 0 6px;
}
/* line 74, ../sass/screen.scss */
.hhfe-box-sidebar .avatar {
  margin: 20px auto;
  border: 1px solid #bababa;
}
/* line 78, ../sass/screen.scss */
.hhfe-box-sidebar .group {
  position: relative;
  display: block;
  margin: 35px auto 0 auto;
  color: #ffffff;
  font-size: 25px;
}
/* line 84, ../sass/screen.scss */
.hhfe-box-sidebar .group span {
  position: absolute;
  display: inline-block;
  top: -10px;
  right: -10px;
  font-size: 12px;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

/* line 100, ../sass/screen.scss */
.hhfe-box-sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  width: 65px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
}
/* line 111, ../sass/screen.scss */
.hhfe-box-sidebar-header div {
  height: 11px;
  width: 11px;
  border-radius: 50%;
}
/* line 116, ../sass/screen.scss */
.hhfe-box-sidebar-header div:nth-child(1) {
  background-color: #fc625d;
  border: 1px solid #de4643;
}
/* line 120, ../sass/screen.scss */
.hhfe-box-sidebar-header div:nth-child(2) {
  background-color: #fdc141;
  border: 1px solid #dd9e33;
}
/* line 124, ../sass/screen.scss */
.hhfe-box-sidebar-header div:nth-child(3) {
  background-color: #33c748;
  border: 1px solid #18a735;
}

/* line 130, ../sass/screen.scss */
.hhfe-box-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 250px;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fafafa;
}
/* line 143, ../sass/screen.scss */
.hhfe-box-select ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  height: 70px;
  border-bottom: 1px solid #e0e0e0;
}
/* line 154, ../sass/screen.scss */
.hhfe-box-select ul li:hover {
  background-color: #ededed;
  cursor: pointer;
}
/* line 158, ../sass/screen.scss */
.hhfe-box-select ul li.checked {
  background-color: #ededed;
}
/* line 161, ../sass/screen.scss */
.hhfe-box-select ul li .avatar {
  border: 1px solid lightgray;
}
/* line 164, ../sass/screen.scss */
.hhfe-box-select ul li span {
  margin-left: 20px;
}

/* line 171, ../sass/screen.scss */
.hhfe-box-select-finder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  border-bottom: 1px solid #e0e0e0;
}
/* line 181, ../sass/screen.scss */
.hhfe-box-select-finder input {
  padding: 5px;
  box-sizing: border-box;
  border: none;
  width: 200px;
  height: 35px;
  margin: 0 auto;
  outline: none;
  border-radius: 6px;
  background-color: #e0e0e0;
}

/* line 194, ../sass/screen.scss */
.hhfe-box-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0 6px 6px 0;
  background-color: white;
}

/* line 209, ../sass/screen.scss */
.hhfe-box-main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  border-bottom: 1px solid #e0e0e0;
}
/* line 220, ../sass/screen.scss */
.hhfe-box-main-header h2, .hhfe-box-main-header h3 {
  margin-left: 20px;
}
/* line 223, ../sass/screen.scss */
.hhfe-box-main-header h2 {
  margin-bottom: 10px;
}
/* line 226, ../sass/screen.scss */
.hhfe-box-main-header h3 {
  font-size: 12px;
  color: #adadad;
}
/* line 230, ../sass/screen.scss */
.hhfe-box-main-header .social {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 234, ../sass/screen.scss */
.hhfe-box-main-header .social a {
  font-size: 30px;
  color: #2abae3;
  margin-left: 15px;
}

/* line 242, ../sass/screen.scss */
.hhfe-box-main-context {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 400px;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
/* line 248, ../sass/screen.scss */
.hhfe-box-main-context .context {
  width: 60%;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 252, ../sass/screen.scss */
.hhfe-box-main-context .context .avatar {
  float: left;
  height: 40px;
  width: 40px;
  border: 1px solid #e0e0e0;
}
/* line 258, ../sass/screen.scss */
.hhfe-box-main-context .context .name {
  float: left;
  margin: 5px 0 5px 15px;
  font-size: 12px;
  width: 50px;
  color: #adadad;
}
/* line 265, ../sass/screen.scss */
.hhfe-box-main-context .context .content {
  float: left;
  max-width: 315px;
  margin-top: 25px;
  margin-left: -55px;
  font-size: 14px;
  padding: 10px;
  line-height: 1.4;
  border-radius: 6px;
  background-color: #d4edf4;
}

/* line 279, ../sass/screen.scss */
.hhfe-box-main-sender {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/* line 281, ../sass/screen.scss */
.hhfe-box-main-sender header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  font-size: 18px;
  padding-left: 15px;
  color: #a0a0a0;
}
/* line 292, ../sass/screen.scss */
.hhfe-box-main-sender header i {
  margin-right: 20px;
}
/* line 296, ../sass/screen.scss */
.hhfe-box-main-sender textarea {
  width: 100%;
  height: 145px;
  padding: 5px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  border: none;
}
